set global super_read_only=0;

REVOKE SELECT ON `mysql`.* FROM `global`@`{{ ansible_default_ipv4.network }}/24`;
REVOKE SELECT ON `mysql_innodb_cluster_metadata`.* FROM `global`@`{{ ansible_default_ipv4.network }}/24`;
REVOKE SELECT ON `performance_schema`.* FROM `global`@`{{ ansible_default_ipv4.network }}/24`;
REVOKE SELECT ON `sys`.* FROM `global`@`{{ ansible_default_ipv4.network }}/24`;
FLUSH PRIVILEGES;

set persist auto_increment_offset=1; #使用mysql shell部署innodb cluster会导致auto_increment_offset变为2

set global super_read_only=1;

SELECT MEMBER_STATE FROM performance_schema.replication_group_members where MEMBER_ID=@@server_uuid\G;