#!/bin/bash

#source /etc/profile

if [ $# -ne 2 ]

then

    echo "usage: `basename $0` [root_passwd|repl_passwd]"

    exit 1

fi

if [ "{{ ansible_hostname }}" == "{{ primary_hostname }}" ]

then

{{ basedir }}/bin/mysql -uroot -p${1} -S {{ socket }} -e "SET GLOBAL super_read_only=0;STOP GROUP_REPLICATION;RESET SLAVE ALL;\
CHANGE MASTER TO MASTER_USER='repl', MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery';\
SET GLOBAL group_replication_bootstrap_group=ON;START GROUP_REPLICATION;\
SET GLOBAL group_replication_bootstrap_group=OFF;"

else

sleep 30

{{ basedir }}/bin/mysql -uroot -p${1} -S {{ socket }} -e "SET GLOBAL super_read_only=0;STOP GROUP_REPLICATION;RESET SLAVE ALL;CHANGE MASTER TO MASTER_USER='repl',\
MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery';RESET MASTER;START GROUP_REPLICATION;"

MEMBER_STATE=`{{ basedir }}/bin/mysql -uroot -p${1} -S {{ socket }} -e "SELECT MEMBER_STATE FROM performance_schema.replication_group_members where MEMBER_ID=@@server_uuid\G;"`

fi
