#!/bin/bash

if [ $# -ne 2 ]

then

    echo "usage: `basename $0` [root_passwd|repl_passwd]"

    exit 1

fi

if [ "{{ ansible_hostname }}" == "mgr1" ]

then

mysql -uroot -p${1} -S /tmp/mysql.sock -e "STOP GROUP_REPLICATION;RESET SLAVE ALL; \
                                           CHANGE MASTER TO MASTER_USER='repl', MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery'; \
		                                   SET GLOBAL group_replication_bootstrap_group=ON;START GROUP_REPLICATION; \
			                               SET GLOBAL group_replication_bootstrap_group=OFF; \
                                           GRANT CLONE_ADMIN,BACKUP_ADMIN ON *.* TO 'clone_user'@'{{ user_whitelist }}';flush privileges;"

mysql -uroot -p${1} -S /tmp/mysql.sock < /tmp/mgr_monitor.sql

else

mysql -uroot -p${1} -S /tmp/mysql.sock -e "STOP GROUP_REPLICATION;RESET SLAVE ALL;CHANGE MASTER TO MASTER_USER='repl', MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery';RESET MASTER;START GROUP_REPLICATION;"

fi
