#!/bin/bash

source /etc/profile

if [ $# -ne 2 ]

then

    echo "usage: `basename $0` [root_passwd|repl_passwd]"

    exit 1

fi

if [ "{{ ansible_hostname }}" == "{{ primary_hostname }}" ]

then

mysql -uroot -p${1} < /tmp/mgr_monitor_official.sql

mysql -uroot -p${1} -e "SET GLOBAL super_read_only=0;STOP GROUP_REPLICATION;RESET SLAVE ALL;\
CHANGE MASTER TO MASTER_USER='repl', MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery';\
SET GLOBAL group_replication_bootstrap_group=ON;START GROUP_REPLICATION;\
SET GLOBAL group_replication_bootstrap_group=OFF;"

sleep 3

mysql -uroot -p${1} -e "SET GLOBAL super_read_only=0;\
GRANT CLONE_ADMIN,BACKUP_ADMIN ON *.* TO 'repl'@'{{ user_whitelist.stdout }}';\
GRANT CLONE_ADMIN,BACKUP_ADMIN ON *.* TO 'root'@'localhost';\
GRANT CLONE_ADMIN,BACKUP_ADMIN ON *.* TO 'pmm'@'127.0.0.1';\
flush privileges;"

else

sleep 30

mysql -uroot -p${1} -e "SET GLOBAL super_read_only=0;STOP GROUP_REPLICATION;RESET SLAVE ALL;CHANGE MASTER TO MASTER_USER='repl',\
MASTER_PASSWORD='${2}' FOR CHANNEL 'group_replication_recovery';RESET MASTER;START GROUP_REPLICATION;"

fi
