


{% for srv in groups[mgr_group] %}
dba.checkInstanceConfiguration('root@{{ hostvars[srv]['inventory_hostname_short'] }}:{{ mysql_port }}');
{% endfor %}

var cluster = dba.createCluster('cluster_{{ env }}');

cluster.setupAdminAccount('repl@{{ ansible_default_ipv4.network }}/24',{update:true});

cluster.setupRouterAccount('repl@{{ ansible_default_ipv4.network }}/24',{update:true});

{% for srv in groups[mgr_group] %}
{% if  hostvars[srv]['inventory_hostname_short'] != primary_hostname %}
cluster.addInstance('root@{{ hostvars[srv]['inventory_hostname_short'] }}:{{ mysql_port }}');
{% endif %}
{% endfor %}

var cluster=dba.getCluster();

cluster.status();

// Config innodb cluster
{% for srv in groups[mgr_group] %}
{% if  hostvars[srv]['inventory_hostname_short'] == primary_hostname %}
// mysqlsh root@{{ hostvars[srv]['inventory_hostname_short'] }}:{{ mysql_port }} -f {{ shelldir }}/config_cluster.js
{% endif %}
{% endfor %}