#/bin/bash

# 1.Install mysqlrouter
yum install {{ remote_repo }} -y

yum install mysql-router-community.x86_64 -y

# 2.Bootstrap mysqlrouter

if [ ! -d {{ routerdir}} ];then
mkdir -p {{ routerdir}}
fi

{% for srv in groups[mgr_group] %}
{% if  hostvars[srv]['inventory_hostname_short'] == primary_hostname %}
mysqlrouter --user=root --bootstrap root@{{ hostvars[srv]['inventory_hostname_short'] }}:{{ mysql_port }} \
--directory {{ routerdir}}/{{ env }} --conf-use-sockets --conf-base-port {{ mysql_port }} --account repl --account-host {{ user_whitelist.stdout }}
{% endif %}
{% endfor %}

# 3.Start mysqlrouter
sh {{ routerdir}}/{{ env }}/start.sh