#!/bin/sh
#Author DBA R

instance="生产环境慢SQL摘要"

dailydir={{ monitordir }}

mailtitle=`date "+%Y年%m月%d日" -d "-1 day"`$instance

mgr1_latest=`ls -lt /tmp/mgr1* |head -n 1|awk '{print $9}'`

mgr2_latest=`ls -lt /tmp/mgr2* |head -n 1|awk '{print $9}'`

mgr3_latest=`ls -lt /tmp/mgr3* |head -n 1|awk '{print $9}'`

mv -f $mgr1_latest $dailydir/mgr1.txt

mv -f $mgr2_latest $dailydir/mgr2.txt

mv -f $mgr3_latest $dailydir/mgr3.txt

sleep 7

mail -a $dailydir/mgr1.txt -a $dailydir/mgr2.txt -a $dailydir/mgr3.txt -a $dailydir/slow_digest_example.docx -v -s "$mailtitle" {{ recipient }} < $dailydir/main_body.txt