#!/bin/sh
#Author DBA R

monitordir={{ monitordir }}

dailyfile={{ ansible_hostname }}_`date +%Y%m%d%H%M%S`.txt

logdir={{ logdir }}

slowlog=slow.log

starttime=`date "+%Y-%m-%d %H:%M:%S" -d "-1 day"`

endtime=`date "+%Y-%m-%d %H:%M:%S"`

pt-query-digest --report --since "${starttime}" --until "${endtime}" $logdir/$slowlog > $monitordir/$dailyfile

find $monitordir/ -mtime +2 -name "*.txt" -exec rm -rf {} \;

scp $monitordir/$dailyfile root@slave_monitor1:/tmp/
